{
  "openapi": "3.1.0",
  "info": {
    "title": "AI Job Search Assistant Action",
    "version": "1.0.0",
    "description": "This Action performs a job search strictly and exclusively within a predefined fixed list of over 420 Israeli job websites, stored and maintained via Google Sheets. The Action returns relevant job listings based on field, sector, and location."
  },
  "servers": [
    {
      "url": "https://script.google.com/macros/s/AKfycbxqMSz2maEFANa4-RvYr5v2tpftoE-ljn9sxtCffeEDYjbrY23VNey8HmqCJd5OqWO8/exec"
    }
  ],
  "paths": {
    "/search-jobs": {
      "get": {
        "operationId": "searchJobs",
        "summary": "Returns job listings based on field, sector, and location, from a fixed list of 420+ websites in Google Sheets",
        "parameters": [
          {
            "name": "field",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Job field (e.g., טכנולוגיה, שירות, רווחה)"
          },
          {
            "name": "sector",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Sector (e.g., פרטי, ציבורי, עמותה)"
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Location in Israel (e.g., מרכז, ירושלים, תל אביב)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of job postings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": { "type": "string" },
                          "company": { "type": "string" },
                          "summary": { "type": "string" },
                          "link": { "type": "string", "format": "uri" }
                        },
                        "required": ["title", "company", "link"]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
